

.sidebar{
    position:fixed;
    left:0;
    width:250px;
    height:100%;

    background:#4dd2ff;

}
.sidebar header{
    font-size:24px;
    color:white;
    text-align :center;
    line-height:70px;
    background:#00394d;
    user-select:none;
}
.sidebar ul a{
    display:block;
    height:100%;
    width:100%;
    line-height:70px;
    font-size:20px;
     color:#002933;
     padding-left:40px;
    
     text-decoration: none;
     box-sizing:border-box;
     border-top:1px solid rgba(255,255,255,.1);
    
     transition: .4s;
}
.sidebar li{
     list-style-type: none;
   
}
ul :hover{
    padding-left:30px;
    background-color:red;
    
}
div.container{
   
     background-color:  #ffffe6;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     height:100vh;
     padding-top:60px;
      font-size: larger;
      margin-left:250px;
    width:81.5vw;

}
div.containerr{
   
     background-color:#b3ffb3;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     height:100vh;
     padding-top:60px;
      font-size: larger;
      margin-left:250px;
      padding-left:250px;
    width:81.5vw;
   
}
div.containerr :hover{
    font-size:50px;
}